<script>
    $(function () {
        $("#submitPopUp").dialog({
            autoOpen: false,
            height: 500,
            width: 750
        });
        $("#AdminSubmitEvent").click(function () { $("#submitPopUp").dialog("open") });
        $("#submitButton").click(function () { $("#submitPopUp").dialog("open") });
        
        $(".chosen-select").chosen({

            width: "110%"
        });
    });
    function cost() {
        document.getElementById("CostJ").style.visibility= ((document.getElementById("Free").checked) ? "hidden" : "visible");  
    }
    function allDay() {
        var allDay = document.getElementById("AllDay").checked;
        var endDay = document.getElementById("EndDay").checked;
        document.getElementById("EndTime").style.visibility = "hidden";
        if (allDay)
        {
            document.getElementById("StartTime").style.visibility = "hidden";
           
        }
        else
        {
            
            document.getElementById("StartTime").style.visibility = "visible";
            if (endDay)
                document.getElementById("EndTime").style.visibility = "visible";
        }
        if (endDay)
        {
            document.getElementById("EndDate").style.visibility = "visible";
        }
        else
        {
            document.getElementById("EndDate").style.visibility = "hidden";
        }
    }

</script>
@using (Html.BeginForm("SubmitEvent", "Calendar", FormMethod.Post, new { id = "submitPopUp", enctype="multipart/form-data" })){
<div class="row">
    <div class="form-group col-xs-6">
        <label for="Event Title">Event Title</label>
        <input type="text" class="form-control" name="submitEventTitle" placeholder="Event Title" required="required">
    </div>
    <div class="form-group col-xs-6">
        <label for="Event Date"> Event Date</label>
        <input type="date" class="form-control" name="submitDate" placeholder="" required="required" />
    </div>
    <div class="form-group col-xs-6">
        <label for="EndCheckBox">Add End Day</label>
        <input type="checkbox" class="form-control" name="EndDay" id="EndDay" onCLick="allDay()" />
    </div>
    <div id="EndDate" style="visibility: hidden;">
        <div class="col-xs-6">
            <label for="End Date"> Event Date</label>
            <input type="date" class="form-control" name="submitEndDate" placeholder="" />
        </div>
    </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <label for="AllDay">AllDay</label>
            <input type="checkbox" class="form-control" name="AllDay" id="AllDay" onCLick="allDay()" checked="checked" />
        </div>
        <div class="form-group col-xs-6" id="StartTime" style="visibility:hidden;">
            <label for="Event Time"> Event Time </label>
            <input type="time" class="form-control" name="submitTime" />
        </div>
        <div class="form-group col-xs-6" id="EndTime" style="visibility:hidden;">
            <label for="Event Time"> Event End Time </label>
            <input type="time" class="form-control" name="submitEndTime" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-6">
            <label for="Venue Name">Venue Name</label>
            <input type="text" class="form-control" name="submitVenueName" placeholder="Venue Name" required="required">
        </div>
        <div class="form-group col-xs-6">
            <label for="Street Address">Street Address</label>
            <input type="text" class="form-control" name="submitStreetAddress" placeholder="Street Address" required="required">
        </div>
    </div>
   
    <div class="form-group">
        <label for="Address Line 2">Address Line 2</label>
        <input type="text" class="form-control" name="submitAddressLine2" placeholder="">
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <label for="City">City</label>
            <input type="text" class="form-control" name="submitCity" placeholder="City Name" required="required">
        </div>
        <div class="form-group col-xs-6">
            <label for="State">State / Province / Region</label>
            <input type="text" class="form-control" name="submitState" placeholder="State Name" required="required">
        </div>
        <div class="form-group col-xs-6">
            <label for="State">Postal / Zip Code</label>
            <input type="text" class="form-control" name="submitZip" placeholder="Postal / Zip Code">
        </div>
        <div class="form-group col-xs-6">
            <label for="State">Country</label>
            <input type="text" class="form-control" name="submitCountry" placeholder="Country Name">
        </div>
    </div>

    <div class="form-group">
        <label for="Event Information">Event Information</label>
        <textarea class="form-control" name="submitEventInformation" rows="4" required="required"></textarea>
    </div>
    <div class="form-group">
        <input type="file" name="image" accept="image/*"/> 
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <label for="Event Host">Event Host</label>
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="submitFirstName" placeholder="First Name" required="required" />
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="submitLastName" placeholder="Last Name" required="required"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <label for="Host Email">Host Contact Email</label>
            <input type="email" class="form-control" name="submitEmail" placeholder="Email" required="required">
        </div>
        <div class="form-group col-xs-6">
             <label for="Host Contact Phone Number">Host Phone Number</label>
             <input type="tel" class="form-control" name="submitPhoneNumber" maxlength="10" placeholder="xxx-xxx-xxxx" required="required" min="10" max="10" />
        </div>
        <div class="form-group col-xs-6">
            <label for="Organizer URL">Host Website</label>
            <input type="text" class="form-control" name="submitURL" placeholder="Website.com">
        </div>
        <div class="form-group col-xs-6">
            <label for="Registration Link">Registration Link</label>
            <input type="text" class="form-control" name="submitRegisterURL" placeholder="Website.com">
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-xs-12">
            <label for="Event Submitter">Event Submitter</label>
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="submitFirstSName" placeholder="First Name" />
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="submitLastSName" placeholder="Last Name" />
        </div>
    </div>
    <div class="form-group">
        <label for="Subbmitter Email">Submitter Contact Email</label>
        <input type="email" class="form-control" name="submitSEmail" placeholder="Email">
    </div>
    <div class="form-group row">
        <div class ="col-xs-6">       
            <label for ="CostCheckBox">Free?</label>
            <input type ="checkbox" id ="Free" onClick ="cost()" name ="Free"/>

        </div>
         <div class= "col-xs-6" id ="CostJ">       
            <label for="Cost">Cost</label>
            <input type="text" class="form-control" name="submitCost">
        </div>

    </div>

    for (int i = 0; i < ViewBag.PropertyTypes.Count; i++)
    {
        string grid = (i < 2) ? "col-xs-5" : "col-xs-3";
        string lowerRow = (i > 2) ? "lower-row" : "";
        <div class="form-group @ViewBag.PropertyTypes[i].Name @grid @lowerRow">
            <label for="@ViewBag.PropertyTypes[i].Name">@ViewBag.PropertyTypes[i].Name</label>
           @Html.ListBox(
                             (string)ViewBag.PropertyTypes[i].Name,
                             ViewBag.PropertyLists[i] as MultiSelectList,
                             new { multiple = "multiple",
                            @class = "chosen-select",
                            @data_placeholder = "Chose " + ViewBag.PropertyTypes[i].Name + "s..." }
                         )
   
        </div>
    }

  <div class="form-group">
      <input id="popUpSubmit"class="btn btn-primary" type="submit" value="Submit" />
  </div>
    
}