<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
      
    <link href="../../Content/themes/base/jquery-ui.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/bootstrap")
   
    <link href="../../Content/chosen.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.css" rel="stylesheet" />
    <script src="../../Scripts/chosen.jquery.js"></script>
   <script>

    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("EDSN Admin", "Index", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
   
    <div class="full-container body-content">
        <div id="adminPanel" class="col-xs-12">
            <div class="admin-sidebar col-xs-4">
                <div class="col-xs-12 text-center">
                    <br />
                    <br />
                </div>
                <div class="btn-group-vertical col-xs-12" role="group">
                    <ul class="admin-sidebar">
                        <li>
                            @Html.ActionLink("Events", "EventList", "Admin", null, new { @class = "admin-sidebar btn btn-primary" })
                        </li>
                        <li>
                            @Html.ActionLink("Calendar Settings", "CalendarSettings", "Admin", null, new { @class = "admin-sidebar btn btn-primary" })
                        </li>
                        <li>
                            @Html.ActionLink("Widget Creator", "WidgetCreator", "Admin", null, new { @class = "admin-sidebar btn btn-primary" })
                        </li>
                        <li>
                            @Html.ActionLink("Properties", "Properties", "Admin", null, new { @class = "admin-sidebar btn btn-primary" })
                        </li>                   
                        <li>
                            @Html.ActionLink("User List", "UserList", "Admin", null, new { @class = "admin-sidebar btn btn-primary" })
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 padding-left-top">
                @RenderBody()
            </div>
        </div>
      
    </div>
     @{Html.RenderAction("EventSubmit","Admin");}
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="../../Scripts/moment.min.js" language="javascript" type="text/javascript"></script>
    <script src="../../Scripts/fullcalendar.js" language="javascript" type="text/javascript"></script>
    <script src="../../Scripts/site.js" language="javascript" type="text/javascript"></script>
</body>
</html>
